<div id="introduction">
    <p>This is a CRUD application built using htmx.</p>
    <p>
        Coming from a primarily SPA background, I must say that I am a fan of this hypermedia as the engine
        of
        application state architecture.
    </p>

    <p>
        I built this using the Go programming language which I am also new to as at October 2023. I find
        this to
        be simple yet sophisticated combination of technologies.
    </p>
    <p>I am a fan of the fundamental idea that the application's state is its html</p>
</div>