html,
body {
    background-color: whitesmoke;
    font-family: 'Noto Sans Old Permic', sans-serif;
    color: #023047;
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    box-sizing: border-box;
}

button {
    border: none;
    min-width: 5rem;
    min-height: 2rem;
    background-color: #ffc8dd;
    border-radius: 4px;
}

button:hover {
    background-color: #ffafcc;
    cursor: pointer;
}

th {
    font-weight: bold;
}

table {
    width: 100%;
}

tr {
    border-bottom: 1px solid black;
}

tr:hover {
    background-color: #D6EEEE;
    cursor: pointer;
}

td,
th {
    text-align: center;
    width: 1fr;
}

#toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

main {
    flex: 1;
}