<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="https://unpkg.com/htmx.org@1.9.5"
        integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO" crossorigin="anonymous">
        </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>HTMX - Learn</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Old+Permic&display=swap" rel="stylesheet">
</head>

<body>
    <section id="toolbar">
        <img id="logo" src="/images/htmx-logo.png" alt="HTMX Logo">
        <menu type="toolbar">
            <button hx-get="/home" hx-target="#content" hx-trigger="load, click">Home </button>
            <button hx-get="/tasks" hx-target="#content">Tasks</button>
        </menu>
    </section>

    <main>
        <hr>
        <section id="content">

        </section>
    </main>

    <footer>
        <hr>
        <b><i>htmx</i></b> - high power tools for html, used by Thomas Baloyi
    </footer>

</body>

</html>